# Build artifacts
dist

# Dependency directories
node_modules/

# dotenv environment variables file
.env
*.env
.env.test

# Optional caches
.npm
.eslintcache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
