name: discourse-deploy
on:
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Build Node function
        uses: actions/setup-node@v3
        run: yarn install && yarn build
      - name: Move zip file to terraform directory
        run: mv ./dist/update-api-s3.zip ./tf/update-api-s3.zip
      - name: Install Terraform
        run: |
          wget -O- https://apt.releases.hashicorp.com/gpg | gpg --dearmor | sudo tee /usr/share/keyrings/hashicorp-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt update && sudo apt install terraform
      - name: Terraform Format
        id: fmt
        run: terraform -chdir=tf/apps/discourse/ fmt -check 
      - name: Terraform Init
        id: init
        env:
          AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
        run: terraform -chdir=tf init
      - name: Terraform Validate
        id: validate
        run: terraform -chdir=tf validate -no-color
        env:
          AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
      - name: Terraform Plan
        id: plan
        run: terraform -chdir=tf plan -no-color
        env:
          TF_VAR_bucket_name: ${{ secrets.AWS_BUCKET_NAME }}
          TF_VAR_bitdao_api_key: ${{ secrets.BITDAO_ACCOUNT }}
          TF_VAR_bitdao_api_key: ${{ secrets.BYBIT_API_KEY }}
          TF_VAR_main_rpc_url: ${{ secrets.MAIN_RPC_URL }}
          TF_VAR_web3_rpc_url: ${{ secrets.WEB3_RPC_URL }}
          AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
      - name: Terraform Aplly
        id: apply
        run: terraform -chdir=tf/apps/discourse/ apply -auto-approve
        env:
          TF_VAR_bucket_name: ${{ secrets.AWS_BUCKET_NAME }}
          TF_VAR_bitdao_api_key: ${{ secrets.BITDAO_ACCOUNT }}
          TF_VAR_bitdao_api_key: ${{ secrets.BYBIT_API_KEY }}
          TF_VAR_main_rpc_url: ${{ secrets.MAIN_RPC_URL }}
          TF_VAR_web3_rpc_url: ${{ secrets.WEB3_RPC_URL }}
          AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
